.Normal{
    width : 150px;
    height : 200px;
    backgroundColor : 'yellow';
    color : 'red';
    border : 1px solid yellow;
    font-family : 'georgia';
    padding : 10px;
    margin : 10px;

}